.hero-body {
  background: image-url('sk03_Fotor.png');
  background-size: cover;
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
  height: 250px;
  text-shadow:  2px  2px 10px #777

}