.content{
  .modal_underlay{
    .head-area{
      position: relative;
      width: 1000px;
      margin: 0 auto;
      overflow: hidden;
      height: 96px;
      h2{
        font-size: 2.2rem;
        text-indent: 2.5rem;
        margin: 35px 0;
        font-weight: bold;
        color: orange;
        .fas{
          display: contents;
        }
      }
    }
  }
}